@using CardShow.Shared.Enums
@using Microsoft.AspNetCore.Components.Web;
@using Microsoft.AspNetCore.Components.Forms;

<div class="contianer" style="font-size:large; margin-top:3em">
    <div class="row">
        <h3>New Set</h3>
    </div>
    <EditForm Model=NewSet OnValidSubmit=Submit>
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="row" style="margin:.5em;">
            <div class="col" style="max-width:3em;"></div>
            <div class="col">
                <InputSelect id="sport" style="max-width:8em;" @bind-Value=NewSet.Sport>
                    @foreach (var sport in Enum.GetValues(typeof(Sport)))
                    {
                        <option value=@sport>@sport</option>
                    }
                </InputSelect>
            </div>
        </div>
        <div class="row" style="margin:.5em;">
            <div class="col" style="max-width:3em;">
                <label>Year</label>
            </div>
            <div class="col" style="width:3em;">
                <InputNumber id="year" @bind-Value=NewSet.Year style="width:4em" />
            </div>
        </div>
        <div class="row" style="margin:.5em;">
            <div class="col" style="max-width:3em;">
                <label>Name</label>
            </div>
            <div class="col">
                <InputText id="name" @bind-Value=NewSet.Name style="width:20em;" />
            </div>
        </div>
        <div class="row btn-group" style="margin:.5em">
            <button type="submit"
                    class="btn-success"
                    style="width:fit-content"
                    @onsubmit=Submit>
                Submit
            </button>
            <button type="button"
                    class="btn btn-secondary"
                    style="width:fit-content"
                    @onclick=Cancel>
                Cancel
            </button>
        </div>
    </EditForm>
</div>
