    <div class="col">
        <div class="row" style="width:fit-content">
            <div class="col" style="width:fit-content">
                @Set.Year
            </div>
            <div class="col" style="min-width:fit-content;">
                @Set.Name
            </div>
        </div>
        <div class="row" style="width:fit-content;">
            <div class="col" style="width:fit-content">
                @Set.Sport
            </div>
            <div class="col" style="font-size:xx-small;width:fit-content;margin-top:.5em;float:right">
                Id: @Set.Id
            </div>
        </div>
    </div>