@using Microsoft.AspNetCore.Components.Web;

<div class="col" style="margin:1em">
    @foreach (var set in Sets)
    {
        <div class="col" style="margin-bottom:2em;max-width:fit-content;">
            <ViewSet SelectedSet=@set />
            <button id=@set.Id
                type="button"
                class="badge btn-outline-success"
                style="font-size:x-small;"
                @onclick=@(e => ViewSet(e, set.Id))>
                View
            </button>
        </div>
    }
</div>