@using Microsoft.AspNetCore.Components.Web;
@using CardShow.Web.Components.SubComponents.Cards;


@if (viewMode == ViewMode.DeleteSet)
{
    var hasOrphans = cards.Any();

    <div class="row btn-group">
        <button type="button"
            class="btn btn-secondary"
            @onclick=ShowSet
            style="width:fit-content">
            Cancel
        </button>
        <button type="button"
            class="btn btn-danger"
            hidden=@hasOrphans
            @onclick=Delete
            style="width:fit-content">
            Confirm
        </button>
    </div>
    <div class="row">
        @if (hasOrphans)
        {
            <span style="color:red">You must delete all attached cards before set can be deleted.</span>
        }
        else
        {
            <span style="color:red">Delete the selected Set?</span>
        }
    </div>
}

@if (viewMode == ViewMode.Default)
{
    <div class="row" style="margin-bottom:3em;">

        <button type="button"
            class="btn-sm btn-outline-warning"
            style="font-size:x-small;width:fit-content;height:fit-content;"
            @onclick=EnableDelete>
            Delete
        </button>


    </div>
    <div class="row">
        <h4>
            Cards
            <button type="button"
                class="btn-sm btn-outline-primary"
                style="font-size:x-small;width:fit-content;height:fit-content;"
                @onclick=ShowNewCardForm>
                New
            </button>
        </h4>
        <hr>
        <ListCards Cards=cards
               OnDelete=DeleteCard
               OnShowCard=ShowCard />
    </div>
}

@if (viewMode == ViewMode.AddCard)
{
    <AddCard OnCreate=CreateCard
         OnCancel=ShowSet />
}

@if (viewMode == ViewMode.CardDetails)
{
    <div class="container" style="margin-top:1.5em;">
        <button type="button"
            class="btn btn-light"
            @onclick=ShowSet>
            Select Card
        </button>
        <CardInfo Card=selectedCard />
        <ViewCard Card=selectedCard
              OnDelete=DeleteCard />
    </div>
}


