@if (SelectedSet.Id > 0)
{
    <div class="row">
        <div class="col" style="max-width:fit-content">
            @SelectedSet.Year
        </div>
        <div class="col">
            @SelectedSet.Name
        </div>
    </div>
    <div class="row">
        <div class="col" style="max-width:fit-content">
            @SelectedSet.Sport
        </div>
        <div class="col" style="font-size:xx-small;width:fit-content;margin-top:.5em;float:right">
            Id: @SelectedSet.Id
        </div>
    </div>
}
