@using Microsoft.AspNetCore.Components.Web;
@using CardShow.Web.Components.SubComponents.CardSets;

<div class="row">
    <div class="col" style="margin:1em">
        @foreach (var set in Sets)
        {
            <div class="col" style="margin-bottom:2em">
                <ViewSet SelectedSet=@set />
                <button 
                    id=@set.Id
                    type="button"
                    class="btn-outline-success"
                    style="font-size:x-small;
                        margin-left:5em;"
                    @onclick=@(e => ViewSet(e, set.Id))>
                    View
                </button>
            </div>
        }
    </div>
    <div class="col">
        <div class="row">
            [Add Set Button]
        </div>
        <div class="row" style="margin-top:2em">
            @if (SelectedSet.Id > 0)
            {
                <h3>Selected Set</h3>
                <ViewSet SelectedSet=SelectedSet />
            }
        </div>
    </div>
</div>
<div>
    @* Add set button *@
    @* View set button *@
</div>