@using Microsoft.AspNetCore.Components.Web;
@using CardShow.Web.Components.SubComponents.CardSets;

<div class="row">
    <div class="col" style="margin:1em">
        @foreach (var set in Sets)
        {
            <div class="col" style="margin-bottom:2em">
                <ViewSet SelectedSet=@set />
                <div class="col" style="margin:0;width:min-content">
                    <button id=@set.Id
                        type="button"
                        class="btn-outline-success"
                        style="font-size:x-small;
                            margin:0;
                            padding:0;
                            padding-left:.3em;
                            padding-right:.3em;"
                        @onclick=@(e => ViewSet(e, set.Id))>
                        View
                    </button>
                </div>
            </div>
        }
    </div>
    <div class="col">
        <div class="row">
            @if (!showAddSet)
            {
                <button type="button"
                    class="btn-outline-primary"
                    style="width:fit-content;
                        font-size:small;
                        margin-left:15em;"
                    @onclick=ShowAddSetForm>
                    Add Set
                </button>
            }
        </div>
        <div class="row" style="margin-top:2em">
            <div class="col">
            @if (SelectedSet.Id > 0)
            {
                <h3>Selected Set</h3>
                <ViewSet SelectedSet=SelectedSet />
                <button type="button" class="btn-outline-danger" style="width:fit-content;height:fit-content;font-size:xx-small;margin-left:10em;" @onclick=DeleteSet>
                    Delete
                </button>
            }
            </div>
        </div>
        @if (showAddSet)
        {
            <h3>Add New Set</h3>
            <AddSet OnSubmit=AddSet/>
        }
    </div>
</div>
