@using Microsoft.AspNetCore.Components.Web;
@using CardShow.Web.Components.SubComponents.CardSets;

<div class="row">
    <SetList Sets=Sets
             OnViewSet=ViewSet />

    <div class="col">
        <div class="row">
            @if (!showAddSet)
            {
                <button type="button" class="btn-outline-primary" style="width:fit-content;font-size:small;margin-left:15em;"
                    @onclick=ShowAddSetForm>
                    Add Set
                </button>
            }
        </div>
        <div class="row" style="margin-top:2em">
            <div class="col">
                @if (SelectedSet.Id > 0)
                {
                    <h3>Selected Set</h3>
                    <div class="col" style="max-width:fit-content;margin-bottom:2em;">
                        <ViewSet SelectedSet=SelectedSet />
                        <button type="button" class="btn-outline-danger" style="width:fit-content;height:fit-content;font-size:xx-small;float:right;"
                            @onclick=DeleteSet>
                            Delete
                        </button>
                    </div>
                    <h4>Cards from Set</h4>
                    @foreach (var card in Cards)
                    {
                        <div class="col" style="margin-bottom:1em;max-width:fit-content;">
                            <div class="row">
                                @card.Name
                            </div>
                            <div class="row">
                                <div class="col">
                                    #@card.SetIndex
                                    <div class="col" style="font-size:xx-small;float:right;margin-left:2em;">
                                        Id: @card.Id
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        @if (showAddSet)
        {
            <h3>Add New Set</h3>
            <AddSet OnSubmit=AddSet />
        }
    </div>
</div>
