@using CardShow.Web.Components.SubComponents.Cards
@using Microsoft.AspNetCore.Components.Web;
@using CardShow.Web.Components.SubComponents.CardSets;

<div class="row">
    <SetList Sets=Sets
             OnViewSet=ViewSet />

    <div class="col">
        <div class="btn-group-sm">
            <button type="button" 
                    class="btn-outline-primary" 
                    style="width:fit-content;height:fit-content;font-size:small;" 
                    disabled=@showAddSet
                    @onclick=ShowAddSetForm>
                Add Set
            </button>
            <button type="button" 
                    class="btn-outline-danger" 
                    style="width:fit-content;height:fit-content;font-size:small;" 
                    disabled=@hideDeleteSet
                    @onclick=DeleteSet>
                Delete
            </button>
        </div>
        <div class="row" style="margin-top:2em">
            <div class="col">
                @if (SelectedSet.Id > 0)
                {
                    <h3>Selected Set</h3>
                    <div class="col" style="max-width:fit-content;margin-bottom:2em;">
                        <ViewSet SelectedSet=SelectedSet />
                    </div>
                    <h4>Cards from Set</h4>
                    @foreach (var card in Cards)
                    {
                        <ViewCard Card=@card />
                    }
                }
            </div>
        </div>
        @if (showAddSet)
        {
            <h3>Add New Set</h3>
            <AddSet OnSubmit=AddSet />
        }
    </div>
</div>
