@using CardShow.Web.Components.SubComponents.Cards
@using CardShow.Web.Components.SubComponents.CardSets
@using Microsoft.AspNetCore.Components.Web;

<div class="col">
    @if (viewMode == ViewMode.SetList)
    {
        <div class="row" style="margin:1em;width:fit-content">
            <h2>
                Sets
                <button type="button"
                    class="badge btn-sm btn-outline-primary"
                    style="width:fit-content;height:fit-content;font-size:small;"
                    @onclick=ShowAddSetForm>
                    Add
                </button>
            </h2>
            <hr>
        </div>
        <ListSets Sets=sets
              OnViewSet=ShowSet />
    }
    else
    {
        <button type="button"
            class="btn btn-light"
            @onclick=ShowSetsList>
            Select Set
        </button>
    }
</div>
<div class="col">
    @if (viewMode == ViewMode.AddSet)
    {
        <h3>New Set</h3>
        <AddSet OnSubmit=CreateSet />
    }

    @if (viewMode == ViewMode.ShowSet)
    {
        <div class="col" style="max-width:fit-content;margin-bottom:2em;">
            <SetInfo Set=selectedSet />
            <ViewSet SelectedSet=selectedSet
                 OnDelete=DeleteSet />
        </div>
    }
</div>