@page
@model IndexModel
@{
    ViewData["Title"] = "Card Show";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Card Show!</h1>
    
    @*<a href="/sets">Sets</a>*@
</div>
<div>
    <h2>Sets</h2>
    <component type="typeof(CardShow.Web.Components.CardSets)" render-mode="Server"/>
</div>

@section Scripts {
    <script src="_framework/blazor.server.js"></script>
}


