@page
@model IndexModel
@{
    ViewData["Title"] = "Card Show";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Card Show!</h1>
</div>
<div>
    <component type="typeof(CollectionView)" render-mode="Server"/>
</div>

@section Scripts {
    <script src="_framework/blazor.server.js"></script>
}


