@page
@model CardShow.Web.Pages.SetsModel
@{
    ViewData["Title"] = "Sets";
}
<h2>Sets</h2>
<component type="typeof(CardShow.Web.Components.CardSets)" render-mode="Server"/>

@section Scripts {
    <script src="_framework/blazor.server.js"></script>
}