@using Microsoft.AspNetCore.Components.Web;

<div class="row" style="margin-top:2em;">
    <div class="col" style="max-width:fit-content;">
        <div class="row">
            <strong style="color:dimgray">Assessments </strong>
        </div>
        <div class="row">
            <span style="font-size:x-small">Card Id: @CardId</span>
        </div>
    </div>
    @if(showForm)
    {
    <div class="col" style="float:left;">
        <button type="button" 
                class="badge btn-outline-secondary"
                style="font-size:x-small;"
                @onclick=ToggleForm>
            Cancel
        </button>
    </div>        
    }
    else
    {
    <div class="col" style="float:left;">
        <button type="button" 
                class="badge btn-outline-primary"
                style="font-size:x-small;"
                @onclick=ToggleForm>
            New
        </button>
    </div>
        
    }
</div>
@if(!showForm)
{
    @if(Assessments.Count() > 0)
    {
        @foreach (var assessment in Assessments)
        {
            <div class="row">
                <AssessmentView Assessment=assessment
                    Delete=DeleteAssessment/>
            </div>
        }
    }
    else
    {
        <span style="margin-bottom:1em;">none</span>
    }

}
else
{
    <div class="row">
        <AddAssessment CreateAssessment=OnCreateAssessment />
    </div>
}
