@using Microsoft.AspNetCore.Components.Web;

<div class="row" >

    @if (Assessments.Count() > 0)
    {
        @foreach (var assessment in Assessments)
        {
            <div class="row">
                <ViewAssessment 
                    Assessment=assessment
                    OnDelete=Delete />
            </div>
        }
    }
    else
    {
        <span style="margin-bottom:1em;">none</span>
    }

</div>