@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;



<div class="col" style="min-width:fit-content">
    @Assessment.Date.ToString("MMM dd, yyyy")

    @if (viewMode == ViewMode.Default)
    {
        <div class="row">
            <button type="button" class="badge btn-outline-secondary" style="width:fit-content" @onclick=ShowDetails>
                Details
            </button>
        </div>
    }

    @if (viewMode == ViewMode.Detail)
    {
        <div class="row btn-group-sm">
            <button type="button"
                class="badge btn-outline-secondary"
                style="width:fit-content"
                @onclick=DefaultView>
                Hide
            </button>
            <button type="button"
                class="badge btn-outline-warning"
                style="width:fit-content"
                @onclick=EnableDelete>
                Delete
            </button>
        </div>
        <AssessmentInfo Assessment=Assessment />
    }

    @if (viewMode == ViewMode.Delete)
    {
        <div class="row btn-group-sm">
            <button type="button"
                class="badge btn-outline-secondary"
                style="width:fit-content"
                @onclick=ShowDetails>
                Cancel
            </button>
            <button type="button"
                class="badge btn-outline-danger"
                style="width:fit-content"
                @onclick=Delete>
                Confirm
            </button>
        </div>
    }
</div>
