@using Microsoft.AspNetCore.Components.Forms;
@using Microsoft.AspNetCore.Components.Web;

<EditForm Model=NewCard OnSubmit=OnCreate>
    <InputText id="name" @bind-Value=NewCard.Name />
    <InputText id="setIndex" @bind-Value=NewCard.SetIndex />
    <button id="newCard" type="submit" class="btn-success" @onsubmit=OnCreate>
        Submit
    </button>
</EditForm>