
<div class="col" style="font-size:1.25em;">
    <div class="row" style="width:fit-content;">
        <div class="col" style="width:fit-content;">
            @Card.Name
        </div>
        <div class="col" style="width:fit-content;">
            #@Card.SetIndex
        </div>
    </div>
    <div class="row" style="font-size:xx-small;width:fit-content;">
        Id: @Card.Id
    </div>
</div>
