    <div class="row" style="width:max-content;">
        @Card.Name
    </div>
    <div class="row">
        <div class="col">
            #@Card.SetIndex
            <div class="col" style="font-size:xx-small;">
                Id: @Card.Id
            </div>
        </div>
    </div>
