@using Microsoft.AspNetCore.Components.Web

<div class="col" style="width:fit-content;">
    @foreach (var card in Cards)
    {
        <div class="row" style="margin-bottom:2.5em;width:fit-content">
                <CardInfo Card=card/>
                <button id="@card.Id"
                    type="button"
                    class="badge btn-outline-success"
                    style="font-size:x-small;width:fit-content;height:fit-content;"
                    @onclick=@(()=> ShowCard(card.Id))>
                    View
                </button>
        </div>
    }
</div>