@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;
@using CardShow.Web.Components.SubComponents.Assessments;

<div class="col" style="margin-bottom:1em;max-width:fit-content;">
    <div class="row" style="width:max-content;">
        @Card.Name
    </div>
    <div class="row">
        <div class="col">
            #@Card.SetIndex
            <div class="col" style="font-size:xx-small;">
                Id: @Card.Id
            </div>
        </div>
    </div>
    <div class="row">
        @if (deleteEnabled)
        {
            <button id="delete"
                type="button"
                    class="badge btn-outline-danger"
                    style="font-size:xx-small;
                            padding:.2em;
                            max-width:fit-content;"
                    @onclick=Delete>
                Confirm
            </button>
            <button id="cancel_delete"
                type="button"
                    class="badge btn-outline-secondary"
                    style="font-size:xx-small;
                            padding:.2em;
                            max-width:fit-content;"
                    @onclick=ToggleDeleteEnabled>
                Cancel
            </button>
        }
        else
        {
            <button id="enable_delete"
                type="button"
                    class="badge btn-outline-warning"
                    style="font-size:xx-small;
                            padding:.2em;
                            max-width:fit-content;"
                    @onclick=ToggleDeleteEnabled>
                Delete
            </button>
        }
    </div>
    @if (Card.Assessments.Count() > 0)
    {
        <div class="row">
            <AssessmentList 
                Assessments=Card.Assessments
                CardId=Card.Id/>
        </div>
    }
</div>