@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;
@using CardShow.Web.Components.SubComponents.Assessments;

@if (viewMode == ViewMode.Default)
{
    <div class="col" style="width:fit-content">

        <div class="row" style="margin-bottom:2em">
            <button type="button"
                class="badge btn-outline-warning"
                style="font-size:small;
                        width:fit-content;
                        height:fit-content;"
                @onclick=EnableDelete>
                Delete
            </button>
        </div>
        <div class="row">
            <div class="col" style="width:fit-content;">
                <strong style="color:dimgray;width:fit-content">Assessments </strong>
            </div>
            <div class="col" style="width:fit-content;">
                <button type="button"
                    class="badge btn-outline-primary"
                    style="font-size:small;
                            width:fit-content;
                            height:fit-content"
                    @onclick=ShowNewAssessmentForm>
                    New
                </button>
            </div>
        </div>
        <hr />
        <ListAssessments Assessments=assessments
                     OnDelete=DeleteAssessment />
    </div>
}

@if (viewMode == ViewMode.DeleteCard)
{
    var hasOrphans = assessments.Any();

    <div class="row btn-group">
        <button type="button"
            class="btn btn-secondary"
            @onclick=ShowCard>
            Cancel
        </button>
        <button type="button"
            class="btn btn-danger"
            @onclick=Delete>
            Confirm
        </button>
    </div>
    <div class="row">
        <span style="color:red">Delete the selected Set?</span>
        @if (hasOrphans)
        {
            <span style="color:red">WARNING: Deleting this card will delete all attached assessments.</span>
        }
    </div>
}

@if (viewMode == ViewMode.AddAssessment)
{
    <AddAssessment OnCreate=CreateAssessment
               OnCancel=ShowCard />
}
