@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;

<div class="col" style="margin-bottom:1em;max-width:fit-content;">
    <div class="row" style="width:max-content;">
        @Card.Name
    </div>
    <div class="row">
        <div class="col">
            #@Card.SetIndex
            <div class="col" style="font-size:xx-small;float:right;margin-left:2em;">
                Id: @Card.Id
            </div>
        </div>
    </div>
</div>
<div class="col">
    <button id="delete"
        type="button"
            class="btn-sm btn-outline-danger"
            style="font-size:xx-small;
                    margin-top:2em;
                    padding:.1em;"
            @onclick=Delete>
        Delete
    </button>
</div>