@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;
@using CardShow.Web.Components.SubComponents.Assessments;

@if (viewMode == ViewMode.DeleteCard)
{
    var hasOrphans = assessments.Any();

    <div class="row btn-group">
        <button type="button"
            class="btn btn-secondary"
            @onclick=ShowCard>
            Cancel
        </button>
        <button type="button"
            class="btn btn-danger"
            @onclick=Delete>
            Confirm
        </button>
    </div>
    <div class="row">
        <span style="color:red">Delete the selected Set?</span>
        @if (hasOrphans)
        {
            <span style="color:red">WARNING: Deleting this card will delete all attached assessments.</span>
        }
    </div>
}

@if (viewMode == ViewMode.Default)
{
    <div class="row btn-group">
        <button type="button"
            class="badge btn-outline-warning"
            style="font-size:small;
                            padding:.2em;
                            max-width:fit-content;"
            @onclick=EnableDelete>
            Delete
        </button>
        <button type="button"
            class="badge btn-outline-primary"
            style="font-size:small;
                            padding:.2em;
                            max-width:fit-content;"
            @onclick=ShowNewAssessmentForm>
            New Assessment
        </button>
    </div>
    <ListAssessments Assessments=assessments 
            OnDelete=DeleteAssessment/>
}
@if (viewMode == ViewMode.AddAssessment)
{
    <AddAssessment OnCreate=CreateAssessment
            OnCancel=ShowCard/>
}
